* {
    font-family: 'Muli', sans-serif;
}
body { 
    background-color: lightgrey;
}
#app {
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 2.5%;
  }
#app svg, #app #dashboard {
    /* border: 1px solid grey; */
    background-color: white;

}

.polar-chart, svg {
    border: 1px solid grey;
}

#chart{
    text-align: center;
    /* margin-left: 300px; */
}

.text-labels{
    stroke: none;
    fill: black;
}
